.nav1{
    text-align: right;
}

div{
    margin-top: 100px ;
    text-align: center;
}

.im2{
    height: 170px;
}

.im1{
    padding-top: 15px;
    height: 25px;
    position: relative;
}

input{
    margin-top: 10px;
    height: 50px;
    width: 500px;
    border-color: lightblue;
    border-radius: 20px;
    border: solid 0.8px;
}

button{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    color: gray;
    background: #dddddd;
}

footer{
    margin-top: 150px;
    display: inline-block;
    margin-left: 15px;
}

.seccion1{
    background-color: #eeeeee;
    color: gray;
}

.seccion2{
    background: #eeeeee;
    text-align: left;
    color: gray;
}

.seccion3{
    background: #eeeeee;
    text-align: right;
    color: gray;
}

.parraforojo{
    color: red;
}